# Importing all necessary libraries

In [44]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('hotel_bookings.csv')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 33 columns):
hotel                             119390 non-null object
is_canceled                       119212 non-null float64
No Response                       1182 non-null float64
lead_time                         119390 non-null int64
arrival_date_year                 119390 non-null int64
arrival_date_month                119390 non-null object
arrival_date_week_number          119390 non-null int64
arrival_date_day_of_month         119390 non-null int64
stays_in_weekend_nights           119390 non-null int64
stays_in_week_nights              119390 non-null int64
adults                            119390 non-null int64
children                          119386 non-null float64
babies                            119390 non-null int64
meal                              119390 non-null object
country                           118902 non-null object
market_segment                    119390 non-null object
distribution_channel              119390 non-null object
is_repeated_guest                 119390 non-null int64
previous_cancellations            119390 non-null int64
previous_bookings_not_canceled    119390 non-null int64
reserved_room_type                119390 non-null object
assigned_room_type                119390 non-null object
booking_changes                   119390 non-null int64
deposit_type                      119390 non-null object
agent                             103050 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119390 non-null int64
customer_type                     119390 non-null object
adr                               119390 non-null float64
required_car_parking_spaces       119390 non-null int64
total_of_special_requests         119390 non-null int64
reservation_status                119190 non-null object
reservation_status_date           119390 non-null object
dtypes: float64(6), int64(15), object(12)
memory usage: 30.1+ MB

In [46]:
df[df['is_canceled'].isnull()].head()

,hotel,is_canceled,No Response,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
64,Resort Hotel,NaN,NaN,3,2015,July,27,2,0,3,...,No Deposit,240.0,NaN,0,Transient,136.33,0,2,Canceled,29-06-2015
68,Resort Hotel,NaN,NaN,71,2015,July,27,3,0,2,...,No Deposit,242.0,NaN,0,Transient,110.30,0,2,Canceled,16-06-2015
445,Resort Hotel,NaN,NaN,10,2015,July,29,16,0,3,...,No Deposit,250.0,NaN,0,Transient,134.00,0,0,Canceled,13-07-2015
446,Resort Hotel,NaN,NaN,58,2015,July,29,16,0,3,...,No Deposit,240.0,NaN,0,Transient,147.00,0,0,Canceled,19-06-2015
447,Resort Hotel,NaN,NaN,17,2015,July,29,16,0,3,...,No Deposit,240.0,NaN,0,Transient,151.33,0,0,Canceled,30-06-2015

## It was found that "is_canceled" is null where "reservation_status" is cancelled hence "1" was imputed at null

In [47]:
df['is_canceled'].fillna(1, inplace = True)
df[df['is_canceled'].isnull()].head()

Empty DataFrame
Columns: [hotel, is_canceled, No Response, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 33 columns]

In [48]:
df.loc[df['No Response'].isnull(),['is_canceled','No Response']].head()

   is_canceled  No Response
0          0.0          NaN
1          0.0          NaN
2          0.0          NaN
3          0.0          NaN
4          0.0          NaN

## "No Response" was mostly empty hence imputed same value as "is_canceled"

In [49]:
df['No Response'].loc[df['is_canceled']==0.0] = 0
df['No Response'].loc[df['is_canceled']==1] = 1

df[df['No Response'].isnull()].head()

Empty DataFrame
Columns: [hotel, is_canceled, No Response, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 33 columns]

In [50]:
df.loc[df['children'].isnull(),'children'].head()

40600   NaN
40667   NaN
40679   NaN
41160   NaN
Name: children, dtype: float64

# At one row, number of children was found 10, hence corrected to 1 and 2 rows of "babies" also to relevant numbers

In [51]:
df['children'].fillna(0, inplace = True)
df['children'] = np.where(df['children']==10, 1, df['children'])
df['babies'] = np.where(df['babies']==10, 1, df['babies'])
df['babies'] = np.where(df['babies']==9, 0, df['babies'])

df.loc[df['children'].isnull(),'children'].head()

Series([], Name: children, dtype: float64)

In [52]:
df.loc[df['country'].isnull()].head()

,hotel,is_canceled,No Response,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
30,Reosrt Hotel,0.0,0.0,118,2015,July,27,1,4,10,...,No Deposit,NaN,NaN,0,Transient,62.0,0,2,Check-Out,15-07-2015
4127,Resort Hotel,1.0,1.0,0,2016,February,8,15,0,0,...,No Deposit,NaN,383.0,0,Transient,0.0,0,0,Canceled,15-02-2016
7092,Resort Hotel,1.0,1.0,8,2016,July,30,21,0,1,...,No Deposit,NaN,204.0,0,Transient,73.0,0,2,Canceled,20-07-2016
7860,Resort Hotel,1.0,1.0,39,2016,August,36,30,0,5,...,No Deposit,NaN,NaN,0,Transient,159.0,0,5,Canceled,22-07-2016
8779,Resort Hotel,1.0,1.0,0,2016,October,42,13,0,1,...,No Deposit,NaN,457.0,0,Transient,50.0,0,0,Canceled,13-10-2016

In [30]:
df['country'].value_counts().head()

PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: country, dtype: int64

## All null values in "country" column was replaced by mode value

In [31]:
df['country'].fillna('PRT', inplace = True)
df.loc[df['country'].isnull()]

Empty DataFrame
Columns: [hotel, is_canceled, No Response, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 33 columns]

In [32]:
df.drop(df.index[(df['market_segment'] == 'Undefined') | (df['distribution_channel'] == 'Undefined')], inplace = True)
df['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'GDS'], dtype=object)

## Removed 3 columns where marget segment or distributed channel were 'undefned'

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119385 entries, 0 to 119389
Data columns (total 33 columns):
hotel                             119385 non-null object
is_canceled                       119385 non-null float64
No Response                       119385 non-null float64
lead_time                         119385 non-null int64
arrival_date_year                 119385 non-null int64
arrival_date_month                119385 non-null object
arrival_date_week_number          119385 non-null int64
arrival_date_day_of_month         119385 non-null int64
stays_in_weekend_nights           119385 non-null int64
stays_in_week_nights              119385 non-null int64
adults                            119385 non-null int64
children                          119385 non-null float64
babies                            119385 non-null int64
meal                              119385 non-null object
country                           119385 non-null object
market_segment                    119385 non-null object
distribution_channel              119385 non-null object
is_repeated_guest                 119385 non-null int64
previous_cancellations            119385 non-null int64
previous_bookings_not_canceled    119385 non-null int64
reserved_room_type                119385 non-null object
assigned_room_type                119385 non-null object
booking_changes                   119385 non-null int64
deposit_type                      119385 non-null object
agent                             103048 non-null float64
company                           6797 non-null float64
days_in_waiting_list              119385 non-null int64
customer_type                     119385 non-null object
adr                               119385 non-null float64
required_car_parking_spaces       119385 non-null int64
total_of_special_requests         119385 non-null int64
reservation_status                119185 non-null object
reservation_status_date           119385 non-null object
dtypes: float64(6), int64(15), object(12)
memory usage: 31.0+ MB

## Found out that "reservation_status" had null values where "is_canceled" was "1", hence it was imputed with "canceled"

In [34]:
df.loc[df['reservation_status'].isnull(),'reservation_status'] = 'Canceled'

In [35]:
df.loc[df['reservation_status'].isnull()]

Empty DataFrame
Columns: [hotel, is_canceled, No Response, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 33 columns]

## More than 99% of the "company column" was empty hence dropped form the dataframe and at coulmn 'agent' numerical value of "-1" was imputed at null places

In [36]:
df.drop('company', axis='columns', inplace=True)
df['agent'].fillna(-1, inplace = True)
df.loc[df['agent'].isnull()]

Empty DataFrame
Columns: [hotel, is_canceled, No Response, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date]
Index: []

[0 rows x 32 columns]

In [38]:
df['hotel'].unique()

array(['Resort Hotel', 'Reosrt Hotel', 'City Hotel', 'Citi Hotel'],
      dtype=object)

## Corrected the mis-spelt words as shown above and corrected 1 row at "adr" column as it can not be a negative number

In [39]:
df.loc[df['hotel']=='Reosrt Hotel','hotel'] = 'Resort Hotel'
df.loc[df['hotel']=='Citi Hotel','hotel'] = 'City Hotel'
df.loc[df['adr']==-6.38,'adr'] = 6.38

## Saved the cleaned file

In [40]:
#df.to_csv('Cleaned_data.csv',index = False)